/* AppointmentForm.css */
.appointment-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  form {
    width: 500px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-step {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #f54786;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d73f6d;
  }
  